## Docker Compose File for monitoring Kafka messages from USDF

services:
  # Prometheus database for aggregating Kafka broker metrics
  prometheus:
    # Use the latest version of Prometheus
    image: prom/prometheus:latest
    # Container name for Prometheus
    container_name: prometheus
    depends_on:
      # Ensure Zookeeper is healthy before Prometheus
      zookeeper1:
        condition: service_healthy
      # Ensure Kafka broker is healthy before Prometheus
      broker1:
        condition: service_healthy
      # Ensure MirrorMaker 2 is running before Prometheus
      mirrormaker2:
        condition: service_started
    # Always restart the container on failure
    restart: always
    ports:
      # Port mapping for Prometheus database
      - '9090:9090'
    volumes:
      # Mount prometheus configuration file
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      # Volume to store any additional prometheus data
      - prometheus-data:/prometheus
    command:
      # Command to enable prometheus to use the mounted config file
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      # Attach to the 'lsst' network
      - lsst

  ## Relevant links for the following container which is used for
  ## exporting performance metrics from Kafka to Prometheus
  # https://prometheus.github.io/jmx_exporter/
  # https://github.com/danielqsj/kafka_exporter
  # https://www.redpanda.com/guides/kafka-performance-kafka-monitoring

  # Kafka Exporter for Prometheus metrics
  kafka-exporter:
    # Image for Kafka Exporter
    image: danielqsj/kafka-exporter
    # Container name for Kafka Exporter
    container_name: kafka-exporter
    depends_on:
      # Ensure Zookeeper is healthy before Kafka Exporter
      zookeeper1:
        condition: service_healthy
      # Ensure Kafka broker is healthy before Kafka Exporter
      broker1:
        condition: service_healthy
      # Ensure MirrorMaker 2 is running before Kafka Exporter
      mirrormaker2:
        condition: service_started
    # Restart the container on failure
    restart: always
    command:
      # Command to connect Kafka Exporter to Kafka broker
      - "--kafka.server=broker1:9092"
      - "--log.level=debug"
    ports:
      # Port mapping for Kafka Exporter metrics
      - 9308:9308
    networks:
      # Attach to the 'lsst' network
      - lsst

volumes:
  # Volume for additional prometheus data stored
  prometheus-data: {}